/* CSS RESETS */

* {
box-sizing: border-box;
font-family: 'Kanit', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu Mono', monospace
  }
  
  body {
    margin: 0;
    color: white;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p ,
  ul{
    margin-top: 0;
    
  }
  .margin-center {
    margin: 0 auto;
  }
  
  img {
    max-width: 100%;
  }
  .align-items-center {
    align-items: center;
  }
  .jucon-center {
    justify-content: center;
  }

 

/* COLORS */

.bg-lightgrey-sections {
    background-color: rgb(246, 246, 246);
}

.bg-dark-buttons {
    background-color: rgb(48, 47, 47);
}

.bg-red-box {
    background-color: rgb(255, 84, 68);
}

.bg-purple-box {
    background-color: rgb(170, 45, 182) ;
}

.bg-cyan-box{
    background-color: rgb(30, 194, 164 );
}
.bg-blue-box{
    background-color: rgb(39, 139, 224);
}

.bg-box-shadow-color{
    background-color: rgba(50, 50, 50, .3)
}

.buttons-hover-color{
   background-color: rgb(45, 45, 45); 
}

.bg-color-white {
    background-color: white;
}

.social-sections-color{
    background-color: #464646 ;
}

.c-black {
    color: black;
}

.bg-black {
    background-color: black;
}

/* COMMON CLASSES */

/* layouts */

.container {
width: 80%;
margin-left: auto;
margin-right: auto;
}

.padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

/* Flex */
.d-flex {
    display: flex;

}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.justify-content-space-between{
    justify-content: space-between;
}

.flex-item-33 {
    flex-basis: 33,333%;
}

.flex-item-50 {
    flex-basis: 50%;
}

.flex-item-25 {
    flex-basis: 25%;
    padding: 60px 30px;
}

.flex-item-20 {
    flex-basis: 20%;
}

.flex-direction-column{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* Headings */

.h1 {
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
}
.p {
    color: black;
    text-transform: uppercase;
    font-size: 1rem;

}

/* Text */

.text-align-center {
    text-align: center;
}

.btn {
    background-color: rgb(48, 47, 47);
    padding: 10px 30px;
    cursor: pointer;
}

.btn-c-white {
    color: white;
}

.text-black {
    color: black;
}

.display-hide{
    display: none!important;
}

/* MENU */

.logo {
    font-size: 20px;
    padding: 12px;
    text-decoration: none;
    display: inline-block;
}

.menu .d-flex {
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.menu li a {
    text-decoration: none;
    color: black;
}

.menu li:not(:last-child) {
    margin-right: 20px;
}

.drop-down{
    position: relative;
    display: inline-block;
}

.drop-dwn-btn{
position: absolute;
display: none;
background-color: white;
color: black;
min-width: 80px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 8px;
z-index: 1;

}

.drop-down .drop-dwn-btn:hover{
    display: block;
}

.drop-down:hover .drop-dwn-btn{
display: block;
}

/* Section 1  */

.section-1 {
    height: 100vh;
}

/* Section 2 */

.wrapper-80 {
    width: 80%;
    margin: 0 auto;
}

.wrapper-80 .d-flex {
    align-items: center;
    justify-content: center;
}

.inner{
    margin-right: 15px;
    text-align: center;
    padding: 30px 15px;
}

.border-radius-5 {
    border-radius: 5px;
}

.box-shadow {
    box-shadow: 0px 1px 5px 1px rgba(50, 50, 50, .3);
}

.inner h2 {
margin-bottom: 0;
font-size: 40px;
}

.inner p {
    margin-bottom: 0;
    font-size: 15px;
}

/* Section 3 */


.h2 {
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-top: 20px;
}

.padding-top-bottom{
    padding-top: 50px;
    padding-bottom: 100px;
}

.h2-image {
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 20px;
}

.btn-3 {
    background-color: black;
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-3-section {
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 2px;
    margin-right: 2px;

}

.section-3 .btn-3-section:hover {
    background-color: rgb(45, 45, 45);
    color: white;
}

.btn-3:hover{
    background-color: rgb(45, 45, 45);
    color: white;
}

.border-hover:hover{
    border: 1px solid black;

}

.wrapper-80 .d-flex {
    align-items: center;
    justify-content: center;
}

.margin-center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.margin-center-2{
    margin-left: auto;
    margin-right: auto;
}

.margin-bottom-top {
    margin-bottom: 60px;
    margin-top: 60px;
}

.margin-right-30{
    margin-right: 30px;
}

.margin-top-50{
    margin-top: 50px;
}

.margin-left-right{
    margin-left: 45px;
    margin-right: 45px;
}
.width-30{
    width: 30%;
}

/* Section 4 */

.p-section-4 {
    color: black;
    font-size: 1rem;
}

.section-4{
    margin-bottom: 100px;
}

.h2-section-4 {
    color: black;
    font-size: 2rem;
    margin-top: 40px;
}

.arrow {
    list-style-image: url(./images/arrow.png);
    
}

.arrow li {
    color: black;
    line-height: 30px;
    font-size: 20px;
}

hr{
   width: 5%; 
   margin-top: 50px;
}

.padding-20{
    padding: 80px;
}

/* section 5 */

.section-5 a:not(:last-child){
    margin-right: 20px;
}

.section-5 a{
    color: white;
    font-size: 20px;
}

/* Section 6 */

footer{
    background-color: #000000;
    padding: 30px 15px;
}

/* Media queries */

@media screen and (max-width: 425px) {
.display-hide{
    display: block!important;
}

.mob-hide {
    display: none;
}

.column-mob{
    flex-direction: column;
}

.column-mob .flex-item-25{
    margin-bottom: 10px;
    margin-top: 10px;
}

.inner{
    margin-right: 0;
    text-align: center;
    padding: 30px 15px;
    
}

.wrapper-mob{
    justify-content: center;
    align-items: initial;
}

.flex-item-25 {
    flex-basis: 25%;
    padding: 10px 10px;
}

.section-3 .d-flex {
    align-items: center;
}
.margin-left-right {
    margin: auto 0;
}
.matop-20px-mob {
    margin-top: 45px;
}

}
